@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

body{
	background: linear-gradient(to right, #e3f2f1, #bfd4d3);
}

.wrapper{
	margin: 0 10px;
}

.wrapper_inner{
	position: relative;
	max-width: 1250px;
	width: 100%;
	height: 700px;
	background: #fff;
	margin: 30px auto;
	border-radius: 25px;
	display: flex;
}

.vertical_wrap{
	position: relative;
	height: 100%;
}

.vertical_bar{
	width: 250px;
	background: #3d5654;
	height: 100%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	position: relative;
}

.vertical_bar .profile_info{
	text-align: center;
	padding: 50px 25px;
}

.vertical_bar .profile_info img{
	width: 75px;
}

.vertical_bar .profile_info .title{
	font-size: 20px;
	letter-spacing: 2px;
	color: #c99c33;
	font-weight: 700;
}

.vertical_bar .profile_info .sub_title{
	font-size: 14px;
	color: #fff;
}

.vertical_bar .menu{
	padding-left: 25px;
}

.vertical_bar .menu li a{
	display: block;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom: 1px;
}

.vertical_bar .menu li a .icon{
	color: #c99c33;
	width: 25px;
    display: inline-block;
}

.vertical_bar .menu li a:hover,
.vertical_bar .menu li a.active{
	background: #fff;
	color: #3d5654;
}

.vertical_bar .social{
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 50px;
}

.vertical_bar .social li a{
	width: 50px;
	height: 50px;
	color: #fff;
	border: 1px solid #fff;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin: 0 10px;
}

.vertical_bar .social li a:hover{
	color: #c99c33;
	background: #fff;
}

.main_container{
	width: calc(100% - 250px);
}

.main_container .top_bar{
	height: 60px;
	background: #425c5a;
	border-top-right-radius: 25px;
	padding: 15px 25px;
	display: flex;
	align-items: center;
}

.top_bar .hamburger{
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	display: none;
	margin-right: 25px;
}

.top_bar .logo{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #c99c33;
}

.top_bar .logo span{
	color: #fff;
}

.main_container .container{
	padding: 25px;
	height: calc(100% - 60px);
	overflow: auto;
}

.main_container .container .item{
	background: #e3f2f1;
	padding: 50px;
	margin-bottom: 25px;
}



@media (max-width: 768px){
	.top_bar .hamburger{
		display: inline-block;
	}
	.vertical_wrap{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
	}
	.vertical_bar{
		position: absolute;
		top: 0;
		left: -100%; 
		transition: left 0.2s linear;
	}
	.vertical_wrap .backdrop{
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 25px;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.main_container{
		width: 100%;
	}
	.main_container .top_bar{
		border-top-left-radius: 25px;
	}
	.wrapper.active .vertical_wrap{
		visibility: visible;
	}
	.wrapper.active .vertical_bar{
		left: 0;
		transition: left 0.2s linear;
	}
}